<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>New Topic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">

            <h1>New Topic</h1>

            <form method="post" action="/topic/post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" class="form-control" clastype="text" name="title">
                </div>

                <div class="form-group">
                    <label for="text">Text</label>
                    <textarea id="text" class="form-control" name="text"></textarea>
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <select id="category" class="form-control" name="category">
                        <option th:each="category : ${categoryList}"
                                th:value="${category.id}"
                                th:text="${category.name}">

                        </option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>